<div class="row g-0">

  <div class="col-md-7 me-3">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4 m-2">
          <% if @user.avatar.key %>
            <%= cl_image_tag @user.avatar.key, height:'230', width:'230', class: "border rounded", style:'object-fit:cover' %>
          <% else %>
            <%= image_tag "avatar_placeholder", height:'230', width:'230', class: "border rounded", style:'object-fit:fit' %>
          <% end %>
        </div>
        <div class="col-md-7 ms-2">
          <div class="card-body">
            <h4 class="card-title"><%= @user.username %></h4>
            <p class="card-text"><strong>About me:</strong></p>
            <p class="card-text"><%= @user.about %></p>
            <p class="card-text"><strong>Books read:</strong>
              <% book = [] %>
              <% @user.bookmarks.each do |bookmark| %>
                <% if bookmark["read"] %>
                <% book << bookmark %>
                <% end %>
              <% end %>
              <%= book.count %>
            </p>
            <p class="card-text"><strong>Reviews:</strong><%= @user.reviews.count %></p>
            <p class="card-text"><small class="text-muted">Registered: <%= @user.created_at.strftime("%d %b %y") %></small></p>
            <% if @user != current_user %>
              <% unless current_user.friends.include?(@user) || current_user.inverse_friends.include?(@user)%>
                <%= link_to "Add as a friend", user_friendships_path(@user),data: { action: "click->notifications#pop_up", turbo_method: :post, message: "#{@user.username} added as a friend!"}, class:"mybutton" %>
              <% else %>
                <%= link_to "Remove from friends list", user_friendship_path(@user),data: { action: "click->notifications#confirm", turbo_method: :delete, turbo_confirm: "Remove #{@user.username} from friends list?"}, class:"mybutton" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-0">
      <div class= "d-flex justify-content-between">
        <div class="card text-bg-light mb-3 me-1 flex-grow-1 col-md-5">
          <div class="card-header">Books Read</div>
          <div class="card-body">
           <ul class="list-group">
              <% @user.bookmarks.each do |bookmark| %>
                <% if bookmark["read"] %>
                  <% book = bookmark.book %>
                  <li  class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                      <%= image_tag book.image_url,  width:'50', class: "me-2", alt: book.title %>
                      <%=link_to book.title, book, class:"flex-fill text-decoration-none text-reset" %>
                      <% if @user == current_user %>
                        <%= link_to icon('fa-solid', 'check'), bookmark_mark_as_read_path(bookmark), data: {  action: "click->notifications#pop_up", turbo_method: :post, message: 'Book marked as unread!'}, class:"mybutton-sm", title: "Mark as Unread" %>
                        <%= link_to icon('fa-solid', 'xmark'), bookmark_path(bookmark), data: { action: "click->notifications#confirm", turbo_method: :delete, turbo_confirm: 'Delete this book from the list?'}, class:"cancel-button-sm", title: "Delete" %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="card text-bg-light mb-3 ms-1 flex-grow-1 col-md-5">
          <div class="card-header">Wishlist</div>
          <div class="card-body">
            <ul class="list-group">
              <% @user.bookmarks.each do |bookmark| %>
                <% unless bookmark["read"] %>
                  <% book = bookmark.book %>
                  <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                      <%= image_tag book.image_url,  width:'50', class: "me-2", alt: book.title %>
                      <%=link_to book.title, book, class:"flex-fill text-decoration-none text-reset" %>
                      <% if @user == current_user %>
                        <%= link_to icon('fa-solid', 'check'), bookmark_mark_as_read_path(bookmark), data: { action: "click->notifications#pop_up", turbo_method: :post, message: 'Book marked as read!'}, class:"mybutton-sm", title: "Mark as Read"  %>
                        <%= link_to icon('fa-solid', 'xmark'), bookmark_path(bookmark), data: { action: "click->notifications#confirm", turbo_method: :delete, turbo_confirm: 'Delete this book from the list?'}, class:"cancel-button-sm", title: "Delete"  %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-4">

     <div class="card text-bg-light mb-3 flex-grow-1">
      <div class="card-header">Friends</div>
      <div class="card-group card-body">
        <% @user.friends.each do |friend| %>
          <div class="col-4">
            <%= link_to friend, class:"text-decoration-none text-reset mb-2 mx-2 d-flex flex-column justify-content-center" do %>
              <% if friend.avatar.key %>
                <%= cl_image_tag friend.avatar.key, height:'80', width:'80', class: "border rounded mx-auto", style:'object-fit:cover' %>
              <% else %>
                <%= image_tag "avatar_placeholder", height:'80', width:'80', class: "border rounded mx-auto", style:'object-fit:fit' %>
              <% end %>
              <p class="text-center"><%= friend.username %></p>
            <% end %>
          </div>
        <% end %>

        <% @user.inverse_friends.each do |friend| %>
          <div class="col-4">
            <%= link_to friend, class:"text-decoration-none text-reset mb-2 mx-2 d-flex flex-column" do %>
              <% if friend.avatar.key %>
                <%= cl_image_tag friend.avatar.key, height:'50', width:'50', class: "border rounded mx-auto", style:'object-fit:cover' %>
              <% else %>
                <%= image_tag "avatar_placeholder", height:'50', width:'50', class: "border rounded mx-auto", style:'object-fit:fit' %>
              <% end %>
              <p class="text-center"><%= friend.username %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @user == current_user %>
    <%= link_to "Edit Profile", edit_user_registration_path, class:"mybutton" %>
    <% end %>
  </div>

</div>
