<div id="navbar-container" class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div id="logo-div" class="d-flex align-items-center">
      <%= link_to root_path,  class: "navbar-brand" do %>
        <%= image_tag "My_readings_claro.png" %>
      <% end %>
      <h4>my readings</h4>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%= form_with url: books_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control me-1 rounded-pill search-input",
            placeholder: " Find a book"
          %>
          <%= submit_tag "Search", class: "mybutton mr-3" %>
          <% end %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link ml-2" %>
          </li>
          <li class="nav-item active">
            <%= link_to current_user.username, user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.avatar.present? %>
              <%= cl_image_tag(current_user.avatar.key, transformation: [{ width: 30, height: 30, crop: :thumb, gravity: :face, radius: :max }], class: "avatar border border-white border-2 rounded-circle dropdown-toggle", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% else %>
                <%= image_tag "avatar_placeholder.jpg", class: "avatar border border-white border-2 rounded-circle dropdown-toggle", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% end %>
            <div class="dropdown-menu text-center dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", current_user, class: "dropdown-item" %>
              <div class="dropdown-divider my-2" style="width: 75%; margin: 0 auto;"></div>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



<%# <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> %>
<%# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.0/cjs/popper.min.js" integrity="sha512-AdP2Tu1tLV2ypnolYAf11xXx9CPHe0OEvDXzi6Ftc7zyLbP9ZOfNFsPcl1rzflb6dSeZTBB2w0BTNxEVDRiuEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> %>
<%# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/cjs/popper.min.js" integrity="sha512-6wXFd1TrY1aTBRF9907pk+2I5dBRYyi6OYkcuLgD+g4aYdieY8z/3Of0eklpgAz3ykJUkTEMsVRufL6BtCbgYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> %>
