<div id="navbar-container" class="navbar navbar-expand-sm navbar-light navbar-lewagon mb-3">
  <div class="container-fluid">
    <%= link_to root_path,  class: "navbar-brand" do %>
      <%= image_tag "My_readings_claro.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%= form_with url: books_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control me-1",
            placeholder: "Find a Book"
          %>
          <%= submit_tag "Search", class: "btn-warning btn" %>
          <% end %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to current_user.username, user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.avatar.present? %>
              <%= cl_image_tag(current_user.avatar.key, transformation: [{ width: 30, height: 30, crop: :thumb, gravity: :face, radius: :max }], class: "avatar rounded-circle dropdown-toggle", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% else %>
                <%= image_tag "avatar_placeholder", class: "avatar rounded-circle dropdown-toggle", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% end %>
            <div class="dropdown-menu text-center dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", current_user, class: "dropdown-item" %>
              <div class="dropdown-divider my-2" style="width: 75%; margin: 0 auto;"></div>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
