<% content_for :meta_title, "#{@book.title} is on #{DEFAULT_META["meta_title"]}" %>
<%# <% content_for :meta_description, @book.description %>
<% content_for :meta_image, @book.image_url %>
<br>
<div class="container">
  <div class="row">
    <div class="col-9">
      <%# Book info %>
      <div class="book-info">
        <div class="book-content d-flex justify-content-between">
          <div class="d-flex">
            <div>
              <%= image_tag @book.image_url, class: "img-fluid w-100", crop: :fill, style:"height: 300px;" %>
            </div>
            <div class="mx-3">
              <h3><%= @book.title %></h3>
              <ul class="list-group" style="list-style-type: none;">
                <li><strong>Author:</strong> <%= @book.author %></li>
                <li><strong>Category:</strong> <%= @book.categories.nil? ? "General" : JSON.parse(@book.categories)[0] %></li>
                <li><strong>Pages:</strong> <%= @book.page_count %></li>
                <li><strong>Published:</strong> <%= @book.published_date %></li>
              </ul>
            </div>
          </div>
          <div class="flex-column">
            <h3><i class="fa-regular fa-star"></i><%= @book.average_rating %><span class="fs-6">/5</span></h3>
            <%= link_to "Add to My List", book_bookmarks_path(@book), data: { action: "click->notifications#pop_up", turbo_method: :post, message: 'Book added to your list!' }, class:"mybutton" %>
          </div>
        </div>
        <div class="book-description mt-3">
          <h2>Description</h2>
          <p><%= @book.description %></p>
        <%# Same author books %>
        <div class="card text-bg-light mb-3">
          <div class="card-header">Other books from <%= @book.author %>:</div>
            <div class="card-body">
              <% if @same_author_books.any? %>
                <div class="d-flex flex-wrap">
                  <% @same_author_books.each do |book| %>
                    <div class="mb-3">
                      <%= link_to book_path(book.id), class: "text-reset text-decoration-none" do %>
                        <div class="card p-3 mx-3" style="width:150px; height: 100%">
                          <%= image_tag book.image_url, class: "card-img-top img-fluid mx-auto", crop: :thumb, style:"height:auto; width:100px;" %>
                          <small class="mt-2 text-wrap text-center"><%= book.title %></small>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <p>No other books from this author were found.</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# Readers %>
    <div class="col-3">
      <div class="card text-bg-light mb-3">
          <div class="card-header">Readers</div>
          <div class="card-group card-body">
            <% @book.users.each do |reader| %>
              <div class="col-6">
                <%= link_to reader, class:"text-decoration-none text-reset mb-2 mx-2 d-flex flex-column justify-content-center" do %>
                  <% if reader.avatar.key %>
                    <%= cl_image_tag reader.avatar.key, height:'60', width:'60', class: "border rounded mx-auto", style:'object-fit:cover' %>
                  <% else %>
                    <%= image_tag "avatar_placeholder", height:'60', width:'60', class: "border rounded mx-auto", style:'object-fit:fit' %>
                  <% end %>
                  <p class="text-center"><%= reader.username %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>

<div id="reviews" class="container mt-4" data-controller="reviews" data-reviews-book-value="<%= @book.id %>">
  <div class="d-flex align-items-end">
    <h2>Recent reviews</h2>
    <p class="mx-2"><%= link_to "View all", book_reviews_path(@book) %></p>
  </div>

  <% if @book.reviews.any? %>
    <% reviews = @book.reviews.last(3).reverse! %>
    <% reviews.each do |review| %>
      <%= content_tag :div, id: dom_id(review) do %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <%= link_to review.user, class:"text-decoration-none" do %>
                <div class="d-flex flex-row">
                    <% if review.user.avatar.key %>
                      <%= cl_image_tag(review.user.avatar.key, transformation: [{ width: 30, height: 30, crop: :thumb, gravity: :face, radius: :max }], class: "avatar rounded-circle") %>
                    <% else %>
                      <%= image_tag "avatar_placeholder", class: "avatar rounded-circle" %>
                    <% end %>
                    <p class="card-text mx-2"><small class="text-muted"><%= review.user.username %> - <%= review.created_at.strftime("%d/%m/%Y") %></small></p>
                </div>
              <% end %>
              <div>
                <% if review.user == current_user %>
                  <%= link_to "Delete", book_review_path(@book, review), data: { action: "click->reviews#confirm", turbo_method: :delete, turbo_confirm: 'Mark this book as read?', message:"review" }, class: "delete-button" %>
                <% end %>
              </div>
            </div>
            <p class="card-text"><i class="fa-regular fa-star"></i><%= review.rating %></p>
            <p class="card-text mt-2"><%= review.content %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No reviews yet.</p>
  <% end %>

  <button class="mybutton" data-action="click->reviews#create">Add a review</button>
</div>
